/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

#page{
    background: url("/../sites/all/themes/discubre_omega/img/diagonal.png") repeat scroll left top rgba(0, 0, 0, 0);
    background-attachment: fixed;
}

#zone-header-wrapper{
    background: url("/../sites/all/themes/discubre_omega/img/src_bg.jpg") no-repeat center center / cover  rgba(0, 0, 0, 0);
    background-attachment: fixed;
    height: 500px;
}

#region-menu ul li, ul.menu li {
    display: inline-block;
    height: 100%;
    padding: 0;
}

#zone-content-wrapper{
    background-color: #FFF;
}

#zone-content{
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.pr-ent-res{
    background-color: #FFF;
    border: 1px solid rgba(238,238,236,.8);
    padding-bottom: 1em;
    -webkit-transform: scale(.95);-moz-transform: scale(.95);-ms-transform: scale(.95);-o-transform: scale(.95);transform: scale(.95);
    -webkit-transition: all 0.2s ease-in-out 0s;-moz-transition: all 0.2s ease-in-out 0s;-ms-transition: all 0.2s ease-in-out 0s;-o-transition: all 0.2s ease-in-out 0s;transition: all 0.2s ease-in-out 0s;
}
.pr-ent-res:hover{
    border: 1px solid rgba(245, 121, 0,.8);
    -webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);
    -webkit-transition: all 0.2s ease-in-out 0s;-moz-transition: all 0.2s ease-in-out 0s;-ms-transition: all 0.2s ease-in-out 0s;-o-transition: all 0.2s ease-in-out 0s;transition: all 0.2s ease-in-out 0s;
    box-shadow: 8px 0 -6px rgba(232, 232, 100, 0.15);
}

.pr-ent-res:hover a{
    color: rgb(245, 121, 0) !important;
}

header h2{
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em !important;
}

header h2 a{
    text-decoration: none !important;
    color: rgb(0, 118, 153) !important;
    -webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-ms-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;
}

header h2 a:hover{
    text-decoration: none !important;
    color:rgb(245, 121, 0) !important;
    -webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-ms-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;
}

#block-views-fotos-complementarias-block-1{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #eeeeec;
}

.facetapi-checkbox{
    text-decoration: none;
}

.facetapi-checkbox:hover{
    color:rgb(245, 121, 0) !important;
}

.item-list .pager{
 text-align: left !important;
}

.pager{
    z-index: 2;
}

.pager li:hover{
    background-color: rgb(245, 121, 0);
    -webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-ms-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;
}

.pager li a{
    text-decoration: none !important;
}

.pager li:hover > a{
    font-weight: bold;
    color: #FFF;
    -webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-ms-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;
}

.pager-current{
    color: #FFFFFF;
    background-color: rgb(245, 121, 0);
}

#zone-postscript-wrapper{
    background: url("/../sites/all/themes/discubre_omega/img/src_bg_1.jpg") no-repeat center center / cover  rgba(0, 0, 0, 0);
    background-attachment: fixed;
}

.busqueda-label{
    font: 300 60px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    margin-top: 0.5em;
}

h2.block-title{
    font: 300 1.42148em 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#block-discubre-mailchimp-register-mbasics-mailchimp{
    padding-top: 100px;
    height: 200px;
}

#discubre-mailchimp-register-form h2.we-send, .msg, #page-title{
    font: 300 48px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    margin-bottom: 0;
    margin-top:0;
}

h2.we-send{
    letter-spacing: -0.06em;
}

.msg, header h2{
    font: 300 1.875em 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -0.06em;
}

.anima{
    visibility: hidden;
}

.imgCenter{
    text-align: center;
}

.ch-grid{
     display: block;
     list-style: none outside none;
     text-align: center;
     width: 100%;
 }

.ch-grid:after, ch-item:before{
    content: "";
    display: table;
}

.chgrid:after{
    clear:both;
}

.ch-grid li{
    display: inline-block;
    height:220px;
    margin: 20px;
    width: 220px;
}

.ch-img-1{
    background-image: url("/../sites/all/themes/discubre_omega/img/compara.png");
    background-size: 100%;
}

.ch-img-2{
    background-image: url("/../sites/all/themes/discubre_omega/img/pin.png");
    background-size: 100%;
}

.ch-img-3{
    background-image: url("/../sites/all/themes/discubre_omega/img/opina.png");
    background-size: 100%;
}

.ch-item, .ch-item-contact{
    border-radius: 50%;
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: default;
    height: 100%;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-ms-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;
}

.ch-item-contact{
    box-shadow: 0 0 0 16px rgba(0, 118, 153, 0.9) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 16px rgba(0, 118, 153, 0.9) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ch-item:hover{
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
}

.ch-item-contact:hover{
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info, .ch-item-contact:hover .ch-info-contact {
    -webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);
    opacity: 1;
}

.ch-item-contact:hover .ch-info-contact > p{
    border-top: 1px solid rgba(0, 118, 153, 0.9);
}

.ch-item:hover .ch-info p{
    opacity: 1;
}

.ch-info, .ch-info-contact{
    background: none repeat scroll 0 0 rgba(232,100,100, 0.9);
    border-radius: 50%;
    height: inherit;
    opacity: 0;
    position: absolute;
    -webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s ;-ms-transition: all 0.4s ease-in-out 0s;-o-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;
    width: 100%;
}

.ch-info-contact{
    -webkit-transform: scale(0.8);-moz-transform: scale(0.8);-ms-transform: scale(0.8);-o-transform: scale(0.8);transform: scale(0.8);
    opacity: 1;
}

.ch-info h3, .ch-info-contact h3{
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 0 1px rgb(255, 255, 255), 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    height: 100px;
    margin: 0 20px;
    padding: 45px 0 0;
}

.ch-info h3{
    font-size: 35px;
}

.ch-info p{
    opacity: 0;
}

.ch-info p, .ch-info-contact p{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    font-size: 15px;
    margin: 0 30px;
    padding: 10px 5px;
    -webkit-transition: all 1s ease-in-out 0.4s;-moz-transition: all 1s ease-in-out 0.4s;-ms-transition: all 1s ease-in-out 0.4s;-o-transition: all 1s ease-in-out 0.4s;transition: all 1s ease-in-out 0.4s;
}

.imgSrc{
    width:50%;
    -webkit-transition: all 0.4s ease-out 0s;-moz-transition: all 0.4s ease-out 0s;-ms-transition: all 0.4s ease-out 0s;-o-transition: all 0.4s ease-out 0s;transition: all 0.4s ease-out 0s;
}

.slogan{
    font: 300 1.875em/1em 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.slogan-contact{
    font:300 48px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#zone-social-zone{
    height: 290px;
}

#section-footer{
    bottom: inherit;
}

#zone-footer-wrapper{
    border-top: 2px solid rgb(0, 118, 153);
    border-bottom: 10px solid rgba(0, 107, 129,1);
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-info, .socios{
    margin-top: 25px;
}

.logo-footer{
    display: inherit;
}

.menu-social{
    display: inherit;
}

.menu-social a:nth-child(n+1){
    float: left;
}

.menu-social i{
    font-size: 6em;
    color: rgba(0,118,153,1);
    -webkit-transition: all 0.25s ease 0s;-moz-transition: all 0.25s ease 0s;-ms-transition: all 0.25s ease 0s;-o-transition: all 0.25s ease 0s;transition: all 0.25s ease 0s;
}

.socios{
    background-color: rgba(238,238,236,.8);
}